.content-wrapper {
  padding: 1.5rem 1.8rem;
  background-color: $content-wrapper-bg;

  .card-col {
    width: 16.66%;
    padding-left: $padding-x;
    padding-right: $padding-x;

    @include breakpoint(xl){
      width: 33.33%;
      padding: $padding-x;
    }
    @include breakpoint(md){
      width: 33.33%;
      padding: $padding-x;
    }
    @include breakpoint(sm){
      width: 50%;
      padding: .5rem;
    }
    @include breakpoint(mini){
      width: 100%;
      padding: .725rem;
    }
  }

  .product-list{
      height: 500px;
  }
}
