.content-wrapper {
  background-color: $bg-color;
  color: $primary-text-color;
  padding: $content-wrapper-padding;

  & .card-col {
    width: 25%;
    padding-left: $coloum-padding-side;
    padding-right: $coloum-padding-side;

    @include breakpoint(xl-large){
      width: 50%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(large){
      width: 50%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(medium){
      width: 50%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(small){
      width: 100%;
      padding: $coloum-padding-side;
    }
  }

  & .product-listing {
    width: 65%;
    padding-left: $coloum-padding-side;
    padding-right: $coloum-padding-side;

    @include breakpoint(xl-large){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(large){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint("medium"){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(small){
      width: 100%;
      padding: $coloum-padding-side;
    }
  }

  & .sells-graph {
    width: 35%;
    padding-left: $coloum-padding-side;
    padding-right: $coloum-padding-side;

    @include breakpoint(xl-large){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(large){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint("medium"){
      width: 100%;
      padding: $coloum-padding-side;
    }
    @include breakpoint(small){
      width: 100%;
      padding: $coloum-padding-side;
    }
  }
}
