// Header area style
.header {
  height: $header-height;
  background-color: $header-bg;
  @extend %headerborder;

  & .header-content {
    width: 100%;
  }

  & .brandlogo {
    width: $barnd-logo-width;
    span {
      font-size: $barnd-logo-size;
    }
  }

  .searchbox {
    position: relative;
    margin-left: $searchbox-ml;
    height: $searchbox-height;
    width: $searchbox-width;
    background-color: $searchbox-bg;

    span {
      @include position(absolute, auto, auto, auto, 1rem);
      font-size: 1.2rem;
      color: $header-icon-color;
    }
    input {
      background-color: $searchbox-bg;
      flex: 1;
      font-size: 1.1rem;
      outline: none;
      border: none;
      @include padding(0.6rem, 0.6rem, 0.6rem, 3rem);
    }
    button {
      height: 100%;
    }

    @include breakpoint(large) {
      width: 400px;
    }
    @include breakpoint(medium) {
      width: 360px;
      margin-left: 0px;
    }
    @include breakpoint(small) {
      display: none;
    }
  }

  .notify {
    li:not(:first-child) {
      margin-left: 30px;
      @include breakpoint(small){
        margin-left: 16px;
      }
    }
    li:last-child {
      margin-left: 20px;
      margin-right: 40px;
    }

    a {
      position: relative;
      .notification-dot {
        @include position($top: -12px, $left: 16px);
        @include border-radius(all, 50%);
        height: $notification-dot-width;
        width: $notification-dot-width;
        background-color: $accent;
        display: inline-block;
      }

      &:hover {
        .icon {
          color: $primary;
        }
      }
    }
    .avatar {
      vertical-align: middle;
      width: $avatar-height;
      height: $avatar-height;
      @include border-radius(all, 50%);
    }

    .icon {
      font-size: $header-icon-size;
      color: $header-icon-color;
    }
  }
}
