// Header area style
.header {
  height: $header-height;
  background-color: $header-bg;
  @extend %headerborder;
  @include breakpoint(small){
    height: $header-height - 20px;
  }

  & .header-content {
    width: 100%;
  }

  & .brandlogo {
    width: $barnd-logo-width;

    @include breakpoint(small){
      width: $barnd-logo-width - 30px;
    }
    span {
      font-size: $barnd-logo-size;

      @include breakpoint(small){
        font-size: 1.2rem;
      }
    }
  }

  .searchbox {
    position: relative;
    margin-left: $searchbox-ml;
    height: $searchbox-height;
    width: $searchbox-width;
    background-color: $searchbox-bg;

    span {
      @include position(absolute, auto, auto, auto, 1rem);
      font-size: 1.2rem;
      color: $header-icon-color;
    }
    input {
      background-color: $searchbox-bg;
      width: 100%;
      font-size: 1.1rem;
      outline: none;
      border: none;
      @include padding(0.6rem, 0.6rem, 0.6rem, 3rem);
    }
    button {
      height: 100%;
    }

    @include breakpoint(large) {
      width: 400px;
    }
    @include breakpoint(medium) {
      width: 360px;
      margin-left: 0px;
    }
    @include breakpoint(small) {
      width: 160px;
      span {
        @include position(absolute, auto, auto, auto, .725rem);
        font-size: 1rem;
        color: $header-icon-color;
      }
      input {
        font-size: .725rem;
        @include padding(0.6rem, 0.6rem, 0.6rem, 2rem);
      }
      button {
        display: none;
      }
    }
  }

  .notify {
    li:not(:first-child) {
      margin-left: 30px;
    }
    li:last-child {
      margin-left: 20px;
      margin-right: 40px;
    }
    li:not(:last-child) {
      @include breakpoint(small){
        display: none;
      }
    }

    a {
      position: relative;
      .notification-dot {
        @include position($top: -12px, $left: 16px);
        @include border-radius(all, 50%);
        height: $notification-dot-width;
        width: $notification-dot-width;
        background-color: $accent;
        display: inline-block;
      }

      &:hover {
        .icon {
          color: $primary;
        }
      }
    }
    .avatar {
      vertical-align: middle;
      width: $avatar-height;
      height: $avatar-height;
      @include border-radius(all, 50%);
    }

    .icon {
      font-size: $header-icon-size;
      color: $header-icon-color;
    }

    .dropdown-menu{
      position: relative;
      label{
        cursor: pointer;
        .icon:hover{
          color: $primary;
        }
      }
      #dropdown{
        display: none;
        &:checked{
          ~ .dropdown-content{
            display: block;
          }
        }
      }
  
      .dropdown-content {
        display: none;
        position: absolute;
        bottom: -150px;
        left: -150px;
        background-color: #f9f9f9;
        min-width: 180px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: .6s all ease;
        a {
          display: flex;
          color: black;
          padding: 12px 16px;
          text-align: left;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
