//input checkbox
#menutoggle {
  display: none;
  &:checked {
    ~ #primaryNav {
      left: -$sidebar-width;
      #toggle {
        transform: rotate(180deg);
      }
    }
  }
}

//lable
#toggle {
  @include position(absolute, 50%, auto, auto, 100%);
  font-size: 1.5rem;
}

#primaryNav {
  flex: 0 0 $sidebar-width;
  // width: $sidebar-width;
  background-color: $sidebar-bg;
  // @include position(absolute,0,auto, 0, auto);
  // @include position(relative);
  position: relative;
  transition: .6s all ease;
  // z-index: 10;

  .nav-item{
   @extend %flex-center;
   padding: 1rem;

   .nav-link{
     padding: .6rem;
     font-size: 1.5rem;
   }

   .icon{
     color: $sidebar-icon-color;
   }
  }

  .navbar-nav{
    padding-top: 1rem;
  }

  .navLog{
    padding-bottom: 2.5rem;;
  }
}
