// Theme Primary Color
$primary: #438ffe;
// Mainly use for UI controls like Buttons AND Text;
$secondary: #f5f7f9;
$success-primary: #8bc38a;
$success: #83bcbd;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$white: #ffffff;
$outline: #abb1bf;

//Accent color
$accent: #fe764a;

//icon
$icon-color: $outline;

//Body
$body-bg-color: $white;

//primart text color
$primary-text-color: #170e4d;

//form-control
$control-bg:$secondary;

// Dedicated for button text only
$btn-text-primary: $white;

//conatiner
$container-bg: $white;

//outline mainly for border color
// $outline: #e4e4e4;

//header
$header-bg: $white;
$searchbox-bg: $secondary;
$header-icon-color: $icon-color;

// card
$card-bg: $white;
$card-hover-bg: $primary;
$cardlogo-hover-bg: #559afe;
$card-text-color:#b5bbc7;

//==========sidebar============
$toggle-color: $icon-color;
$sidebar-bg: $white;
$nav-link-color: $icon-color;
$nav-link-hover-color:$primary;


//content
$bg-color: #f8f8f8;

//theme colors map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success-primary": $success-primary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "outline":$outline,
);

$sells: (
  "up": $success-primary,
  "down": $accent,
  "views": $success,
  "sells": $accent,
);

//card colors
$card-colors: (
  "views": $primary,
  "products": $success-primary,
  "users": $primary,
  "sells": $success,
);

//graph

$graph:(
  "sell":$accent,
  "view":$success,
)
