// Theme Primary Color
$primary: #438ffe;

// Mainly use for UI controls like Buttons
$secondary: #f5f7f9;
$success: #83bcbd;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$white:#ffffff;

//Accent color
$accent: #fe764a;

//Body
$body-bg-color:$white;

//primart text color
$primary-text-color:#170e4d;

// Dedicated for button text only
$btn-text-primary: $white;

//outline mainly for border color
$outline:#e4e4e4;


//header
$header-bg:$white;
$searchbox-bg:$secondary;

//sidebar
$sidebar-bg:$white;

//content
$bg-color:#f8f8f8;

//theme colors map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent":$accent,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "white": $white,
);
