// All the SCSS Variables goes here

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;


//Header
$header-padding-y:.75rem;
$header-padding-x:0;

//sideBar
$sidebar-width : 100px;

//header searchbox
$barnd-logo-size:2rem;
$barnd-logo-width:$sidebar-width;
$searchbox-width:500px;


